:root {
    --black: #222;
    --lt-gray: #ddd;
    --gray: #aaa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

h1, h2, h3, h4, h5, h6, a, span, p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

#id_start_time,
#id_end_time,
#id_date {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

form a, a {
    color: inherit;
}

form input,
form textarea {
    background: none;
    border: 1px solid var(--lt-gray);
    border-radius: 3px;
    color: var(--lt-gray);
    padding: 0.75rem;
    margin: 0.25rem 0;
}

form input::placeholder,
form textarea::placeholder,
form input[type="date"]::placeholder,
form input[type="time"]::placeholder {
    color: var(--gray);
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator {
    filter: invert(90%);
}

form #id_date,
form #id_description {
    font-family: inherit;
}

form #id_description {
    resize: none;
}

form .form-field-wrapper {
    position: relative;
}

form .form-field-wrapper input {
    width: 100%;
}

form .required-field-indicator {
    position: absolute;
    left: -0.75rem;
    top: 1.25rem;
}

form .btn-container input[type=submit] {
    background: var(--lt-gray);
    border: none;
    color: var(--black);
}

.container {
    display: flex;
    flex-direction: column;
    background: var(--black);
    color: var(--lt-gray);
}

.site-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

    .site-nav .site-title a {
        font-weight: 700;
        text-decoration: none;
    }

.form-fields {
    display: flex;
    flex-direction: column;
}

.date-header {
    font-weight: 700;
    padding: 1rem 0;
}

.event-wrapper {
    display: flex;
    padding-bottom: 1rem;
    padding-left: 2rem;
}

#add_event_btn {
    cursor: pointer;
    border: 1px solid var(--lt-gray);
    border-radius: 3px;
    background: none;
    color: var(--lt-gray);
    padding: 0.5rem 1rem;
}

.event-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

    .event-details-wrapper h1 {
        font-weight: 700;
        font-size: 1.2rem;
    }

    .event-details-wrapper > * {
        padding-bottom: 0.5rem;
    }

    .event-details-wrapper .btn-container {
        padding-top: 1rem;
    }



.btn-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

/* components */

input[type='submit'] {
    cursor: pointer;
}

.btn {
    background: none;
    border: 1px solid var(--lt-gray);
    border-radius: 3px;
    color: var(--lt-gray);
    padding: 0.75rem;
    text-decoration: none;
}

    .btn.delete {
        font-size: 12px;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        background: red;
        border: 1px solid red;
    }

.scraper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

    .scraper-container form {
        margin-bottom: 1rem;
    }

    .scraper-container h3 {
        padding: 1rem;
    }

    .scraper-container ul {
        list-style-type: none;
        padding-left: 1rem;
    }

    .scraper-container ul li {
        padding: 2px 0;
        margin-left: 1rem;
    }