{% extends 'main.html' %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-fields">
        <div class="form-field-wrapper">
            <span class="required-field-indicator">*</span>
            {{ form.title }}
        </div>
        <div class="form-field-wrapper">
            <span class="required-field-indicator">*</span>
            {{ form.location }}
        </div>
        <div class="form-field-wrapper">
            <span class="required-field-indicator">*</span>
            {{ form.date }}
        </div>
        <div class="form-field-wrapper">
            <span class="required-field-indicator">*</span>
            {{ form.start_time }}
        </div>
        {{ form.end_time }}
        {{ form.cost }}
        {{ form.description }}
    </div>
    <div class="btn-container">
        <input type="submit" value="Add Event">
    </div>
</form>

{% endblock content %}